<div class="banner" style="height: 400px; background-image: url(https://as1.ftcdn.net/v2/jpg/05/00/81/96/1000_F_500819621_7bRfuKkKyaRYU6aJ1Sa9RBCPdscka6Iq.jpg)">
  <div class="container justify-center mt-9">
    <h2><strong>Rails Watch List</strong></h2>
      <p>Save all of your favourite movies here </p>
  </div>
</div>

<div class="container mt-3 d-flex justify-center" >
  <div class="row p-3">
    <% @lists.each do |list| %>
      <div class="card" style="width: 300px;" display="flex" >
        <%= image_tag("https://as1.ftcdn.net/v2/jpg/02/05/18/44/1000_F_205184418_t91TINxilW8CT2aWEqVW9J8b6CKf8iss.jpg", alt: "cinema") %>
        <h3><%= link_to list.name, list_path(list.id) %></h3>
      </div>
    <% end %>
  </div>
</div>

<div class="container justify-center">
<a href="<%=new_list_path %>" class= "btn btn-primary" style= "text-decoration: none;"> Add new list</a>
</div>
